<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar al sistema</title>
</head>
<body>
    <h1>Formulario de ingreso al sistema</h1>
    <p>
        <form method="post">{% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value="Ingresar al sistema">
        </form>
    </p>
    <ul>
        <li><a href="{% url 'home_app:home' %}">Volver a Home</a></li>
        <li><a href="{% url 'person_app:person-register' %}">Registrarse</a></li>
    </ul>
</body>
</html>