<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Panel de usuario</h1>
    <h3>Bienvenido: {{user.get_full_name}}</h3>
    <ul>
        <li><a href="{% url 'person_app:person-logout' %}">Cerrar Sesión</a></li>
        <li><a href="{% url 'person_app:person-updatepass' %}">Actualizar Contraseña</a></li>
    </ul>
</body>
</html>