<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de registro</title>
</head>
<body>
    <h2>Formulario de registro</h2>
    <p>
        <form method="post">{% csrf_token %}
            {{ form.as_p}}
            <input type="submit" value="Registrar">
        </form>
    </p>
</body>
</html>
