<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña</title>
</head>
<body>
    <h1>Cambiar contraseña: {{user.get_full_name}}</h1>
    <form method="post">{% csrf_token %}
        {{form.as_p}}
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>