<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Página principal de aplicación</h1>
    
    <ul>
        <li><a href="{% url 'person_app:person-register' %}">Registrarse</a></li>
        <li><a href="{% url 'person_app:person-login' %}">Ingresar</a></li>
    </ul>
</body>
</html>